:root {
    --background: rgb(4, 31, 49);
    --color: rgb(189, 235, 234);
    --color-light: rgb(215, 229, 236);
    --color-dark: rgb(37, 39, 40);
    --button-background: linear-gradient(90.00deg, rgb(0, 245, 160), rgb(0, 217, 245) 100%);
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
li{
    list-style-type: none;
}


body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--background);
    color: var(--color);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
    body {
        width: 96%;
    }
}